body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.coler{
    color: orange;
}
.flexible-container{
    display: flex;
    padding-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
}
.dreame-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expriences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;

}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    
}
#web-dev-experience2{
    border-left: 7px solid;
    border-image: linear-gradient(salmon , tomato,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}